.episode{

  .episode-data{
    padding: 30px;
    margin-bottom: 15px;
    background-color: rgba(100, 100, 100, 0.7);
    background-size: contain;
    border-radius: 15px;
    width: 100%;

    a{
      text-decoration: none;
      color: #EEE;
    }

    .episode-information{
      padding-bottom: 0px;

      .episode-name{
        color: #EEE;
        font-size: 35px;
        padding-bottom: 0px;
      }

      p {
        color: #EEE;
        margin-bottom: 0px;
        font-size: 18px;
      }
    }

    .episode-character-section-title{
      color: #EEE;
      font-size: 18px;
      padding-bottom: 15px;
    }
  }

  .episode-data-row{
    padding-bottom: 5px;
  }

  .episode-characters-section{
    border-radius: 10px;
  }
}