.filter-component{
  margin-bottom: 50px;
  font-size: 16px;

  .filter-options{

    .filter-item{
      padding-left: 15px;
      padding-right: 15px;

      .filter-label{
        color: #EEE;
        font-size: 15px;
        padding-bottom: 5px;
      }
  
      .filter-input{
        padding: 10px 20px;
        width: 100%;
        border: none;
        background-color: rgba(100, 100, 100, 0.7);
        color: #EEE;
        border-radius: 10px;

        @media screen and (min-width: 992px) and (max-width: 1199px) {
          font-size: 11px;
        }

        @media screen and (min-width: 1200px) and (max-width: 1399px) {
          font-size: 14px;
        }
      } 

      .filter-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #EEE;
        opacity: 1; /* Firefox */
      }

      .filter-select{
        padding: 10px 20px;
        width: 100%;
        border: none;
        background-color: rgba(100, 100, 100, 0.7);
        color: #EEE;
        border-radius: 10px;

        option{
          background-color: #444;
        }

        @media screen and (min-width: 992px) and (max-width: 1199px) {
          font-size: 11px;
        }

        @media screen and (min-width: 1200px) and (max-width: 1399px) {
          font-size: 14px;
        }
      } 

      .filter-button{
        padding: 8px 20px 9px 20px;
        width: 100%;
        border: none;
        background-color: rgba(178, 223, 40, 0.5);
        color: #EEE;
        border-radius: 10px;
        margin-top: 29px;

        @media screen and (min-width: 992px) and (max-width: 1199px) {
          font-size: 12px;
        }

        @media screen and (min-width: 1200px) and (max-width: 1399px) {
          font-size: 14px;
        }
      }

      .clear-button{
        padding: 8px 20px 9px 20px;
        width: 100%;
        border: none;
        background-color: rgba(153, 0, 0, 0.5);
        color: #EEE;
        border-radius: 10px;
        margin-top: 29px;

        @media screen and (min-width: 992px) and (max-width: 1199px) {
          font-size: 12px;
        }

        @media screen and (min-width: 1200px) and (max-width: 1399px) {
          font-size: 14px;
        }
      }
    }
  }
}