.character-wiki{
  height: 100vh;
  background-image: linear-gradient(
      rgba(30, 30, 30, 0.7),
      rgba(30, 30, 30, 0.7)
    ), url("assets/images/stars-background.jpg");
  background-attachment: fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: overlay;

  body{
    height: 100vh;
  }
}

.rick-and-morty-character-wiki{
  font-family: monospace;
  background-image: linear-gradient(
      rgba(30, 30, 30, 0.7),
      rgba(30, 30, 30, 0.7)
    ), url("assets/images/stars-background.jpg");
  background-attachment: fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .content{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
  }
}