
.character-wiki{
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-y: overlay;

  background-image: linear-gradient(
      rgba(30, 30, 30, 0.7),
      rgba(30, 30, 30, 0.7)
    ), url("assets/images/stars-background.jpg");
  background-attachment: fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  body{
    min-height: 100vh;
    min-height: -webkit-fill-available;
    margin: 0;
    background-size: auto;
  }
}

.rick-and-morty-character-wiki{
  font-family: monospace;

  .content{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
  }
}